/* common css start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    vertical-align: middle;
}


/* common css end */
    body {
        background-color: white;
        color: black;
        font-size: 14px;
        font-weight: 600;
        font-family: 'Raleway', sans-serif;
    }
    .dark-mode {
        background-color: black;
        color: white;
    }
    .light-mode {
        background-color: white;
        color: black;
    }
    .main-bg button{
        padding: 10px 10px;
        margin-left: 309px;
        background-color: rgba(0, 0, 0, 0.381);
        color: gray;
        border: #afb0bc;
    }
    .main-bg span button{
        margin-left: 1px;
        color: white;
    }
   
.preloader {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #744fa0;
    top: 0;
    left: 0;
    z-index: 99999;
}

.dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

.dots .dot {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0 10px 0 10px;
    border-radius: 50%;
    background: #FFF;
    -webkit-animation: dot-dot-dot 1.4s linear infinite;
    animation: dot-dot-dot 1.4s linear infinite;
}

.dots .dot:nth-child(2) {
    animation-delay: .2s;
}

.dots .dot:nth-child(3) {
    animation-delay: .4s;
}

@keyframes dot-dot-dot {

    0%,
    60%,
    100% {
        -webkit-transform: initial;
        -ms-transform: initial;
        transform: initial;
    }

    30% {
        -webkit-transform: translateY(-25px);
        -ms-transform: translateY(-25px);
        transform: translateY(-25px);
    }
}

.back-to-top {
    height: 40px;
    width: 40px;
    background-color: #744fa0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 25px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1 !important;
    color: white;
    animation: back 2s infinite;
    cursor: pointer;
    display: none;
}

@keyframes back {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.navbar button i{
    color: white;
}
 
.logo img{
    width: 100%;
}

.navbar ul li{
    margin-left: 10px;
}
.navbar{
    background-color: black;
    padding: 0;
}
.navbar ul li:hover{
    background-color: red;
    color: black;
}
.navbar ul li span a{
    color: #707070;
}
.navbar ul li a{
    font-size: 16px;
    font-family: 'Akira Expanded', sans-serif;
    color: white;
    position: relative;
    transition: 0.5s;
    text-transform: uppercase;
}

.navbar ul li a:hover{
    color: black !important;
}
.navbar ul li a::after{
    position: absolute;
    content: '';
    width: 0px;
    height: 2px;
    background-color:white;
    bottom: -5px;
    left: 0;
    transition: 0.5s;
}
.navbar ul li a:hover::after{
    width: calc(100% - 0px) !important;
}

.navbar-toggler-icon{
    background-color: white !important;
} 
.navbar-brand {
	width: 20%;
}
/* nav -part end */
/* banner start */
#banner {
    background: url(../images/banner.jpg) no-repeat center / cover;
    padding-top: 200px;
    padding-bottom: 150px;
}

.banner-text {
    text-align: center;
}

.banner-text h1 {
    color: white;
    font-size: 65px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-bottom: 10px;
}

.banner-text h5 {
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding: 20px 0;
    width: 920px;
    margin: 0 auto;
    color: white;
}

.banner-text button {
    padding: 20px 40px;
    background-color: brown;
    border: transparent;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: 0.4s;
}

.banner-text button:hover {
    background-color: blue;
    color: aliceblue;
}

.banner-text button{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

/* banner end */
/* body part start */
#bodyo {
    padding: 50px 0;
    margin-top: 40px;
}
.body-one {
    height: 230px;
    text-align: center;
}

.body-one h4 {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: gray;
    padding: 20px 0;
}

.body-one h6 {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #afb0bc;
    width: 300px;
    margin: 0 auto;
}

/* body part end */
/* port part start */
#portfolio {
   width: 100%;
    padding: 30px 0;
    margin-top: 40px;
}
.port-img {
    width: 100%;
    position: relative;
}

.port-img img {
    width: 100%;
}

.overlay {
    height: 0px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(165, 42, 42, 0.765);
    text-align: center;
    padding-top: 100px;
    opacity: 0;
    transition: 0.4s;
    cursor: pointer;
}

.port-img:hover .overlay {
    opacity: 1;
    height: 100%;
}

.overlay h5,
h6 {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: white;
    padding-bottom: 10px;
}
.port{
    --bs-gutter-x: 0rem;
    margin-right: calc(var(--bs-gutter-x) * 0.5);
    margin-left: calc(var(--bs-gutter-x) * 0.5);
}

/* port part end */
/* team part start */
#team{
    width: 100%;
    padding: 30px 0;
    margin-top: 40px;
}
.team-inner img{
    width: 100%;
}
.team-inner h1{
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding-top: 20px;

}
.team-inner h4{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding: 10px 0;
    color: #e84545;
}
.team-inner h5{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #80858b;
}
.team-inner i{
    border: 2px solid #c6cacc;
    padding: 10px 15px;
    margin-top: 20px;
    color: #c6cacc;
}

/* team part end */
/* about part start */
#about{
   padding: 30px 0;
    margin-top: 40px;
    position: relative;
    background-color: #53354a;
}
.about-image img{
    width: 105%;
}
.ab{
    --bs-gutter-x: 0rem;
   
}
.about-main{
    height: 354px;
}
.about-text{
    height: 100%;
}
.about-text h4{
    width: 476px;
    font-size: 30px;
    font-family: 'Cardo', serif;
    font-weight: 400;
    color: white;
    padding-left: 80px;
    padding-top: 60px;
}
.about-text h6{
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding-top: 15px;
    padding-left: 80px;
}


#about .slick-dots{
    position: absolute;
    right: 47%;
    bottom: 30px;
    
}
#about  .slick-dots li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #755d6e;
    margin: 0 2px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
    

}

#about .slick-dots li button{
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 50%;
    line-height: 15px;
    text-align: center;
    background-color: white;
    opacity: 0;
    color: white;
}
#about  .slick-dots li.slick-active button{
    opacity: 1;
}
/* about part end */
/* ready part start */
#ready{
    padding: 50px 0;
}
.ready-text{
    text-align: center;
}
.ready-text h1{
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
.ready-text h4{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 20px;
}
.ready-text button{
    padding: 20px 80px;
    background-color: #e84545;
    color: white;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
/* ready part end */
/* FOOTER PART START */
#footer{
    padding: 30px 0;
    background-color: #3a3e64;
}
.footer-one{
    text-align: center;
    padding-top: 80px;
}
.footer-one h4{
    color: white;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding-bottom: 15px;
}
.footer-one p{
    width: 170px;
    margin: 0 auto;
    color: #afb0bc;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;

}
.footer-three p{
    width: 344px;
    margin: 0 auto;
    color: #afb0bc;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;

}
.footer-two h4{
    color: white;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.footer-two i{
    margin-top: 15px;
    padding: 10px 10px;
    color: white;
    border: 2px solid #c6cacc;
}
.footer-three h4{
    color: white;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
   padding-bottom: 15px;
}
.footer-two{
    text-align: center;
    padding-top: 80px;
}
.footer-three{
    text-align: center;
    padding-top: 80px;
}
/* FOOTER PART END */
/* copyright part start */
#copyright{
    height: 90px;
    background-color: #313454;
}
.copy-text{
    text-align: center;
    padding-top: 30px;
}
.copy-text h3{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #afb0bc;
    width: 320px;
    margin: 0 auto;
}
.copy-text span{
    color: white;
}
/* copyright part end */